.container {
  height: 96px;
  padding-left: 182px;
  padding-right: 182px;
  display: flex;
  justify-content: space-between;
  align-items: center ;
}
.links {
  display: flex;
  list-style: none;
  font-weight: 500;
  align-items: center;
}
.links li {
  cursor: pointer;
  margin-left: 40px;
  font-size: 20px;
}
.contact{
    background: #0A1D37;
    color: #FFFFFF;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    display: flex;
}
